.btn-callmaster,
input[type='submit'] {
    transition-property: background-color;
    transition-duration: 0.5s;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.btn-callmaster:hover,
input[type='submit']:hover {
    background-color: #434242;
}

.works-wrapper > div {
    transition-property: border-color;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color;
    -o-transition-property: border-color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.works-wrapper > div:hover {
    border-color: transparent;
}

.clients-item p {
    transition-property: opacity;
    transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.clients-item p:hover {
    opacity: 0.9;
}